BOT_TOKEN=ваштелеграмтокен
PROJECT_WALLET=UQAxfRdWYyuXMaCDNSYAzSd9u40HrZE8g7z-UQS4NBe-uKAA
TONCENTER_API_KEY=ваш_ключ_toncenter
FIREBASE_DB_URL=https://grid-lottery-game-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
