BOT_TOKEN=ваштелеграмтокен
PROJECT_WALLET=ваш_ton_кошелек
TONCENTER_API_KEY=ваш_ключ_toncenter
FIREBASE_DB_URL=https://grid-lottery-game-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
